# OS
.DS_Store

# Neovim runtime cache (do NOT commit)
.swap
*.swp
*.swo
*.swn
*~
**/*.identifier
.undo/
.backup/
.shada

# Plugin managers
lazy-lock.json

# Mason binaries
mason/

# LSP / cache
.lsp/
.cache/

