# OS
.DS_Store

# Neovim runtime cache (do NOT commit)
.swap
*.swp
*.swo
*.swn
*~
# file named exactly ".identifier"
**/.Identifier

# files ending with .identifier
**/*.Identifier

# files containing identifier in name
**/*Identifier*

.undo/
.backup/
.shada

# Plugin managers
lazy-lock.json

# Mason binaries
mason/

# LSP / cache
.lsp/
.cache/

